<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
  
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @post do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :body %>
  <%= form.text_area :body, size: "40x15" %>
  <%= form.submit %>
<% end %>